name: CI

on:
  push:
    branches: [main]
    tags:
      - "*"
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14, 16, 18, 20]
      fail-fast: false

    services:
      redis:
        image: redis
        # wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379
    
    env:
      REDIS_URL: redis://localhost:6379
      DISABLE_TELEMETRY: true

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - if: ${{ matrix.node-version == 18 }}
      uses: microsoft/playwright-github-action@v1
    - run: npm i -g npm@7
    - run: npm explore npm/node_modules/@npmcli/run-script -g -- npm_config_global=false npm install node-gyp@latest
    - run: npm ci
    - run: npm run build
    - run: npm test -- --coverage
    - if: ${{ matrix.node-version == 18 }}
      name: Coveralls Quirrel
      uses: coverallsapp/github-action@master
      with:
        flag-name: quirrel
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: coverage/lcov.info
        parallel: true
    - if: ${{ matrix.node-version == 18 }}
      run: npm ci
      working-directory: development-ui
    - if: ${{ matrix.node-version == 18 }}
      name: Install Playwright Browsers
      run: npx playwright install --with-deps
      working-directory: development-ui
    - if: ${{ matrix.node-version == 18 }}
      run: npm run test:ci
      working-directory: development-ui
    - if: ${{ matrix.node-version == 18 }}
      name: Coveralls Finished
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel-finished: true

  push_to_registry:
    name: Push Docker image to GitHub Container Registry
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@57396166ad8aefe6098280995947635806a0e6ea
        with:
          images: ghcr.io/${{ github.repository }}
          flavor: |
            latest=false
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=sha
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
